:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #ff3366;
  --color-Primary-dark: #ba265d;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  --border-bottom: 1px solid var(--color-Grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 1.6;
  color: var(--color-Grey-dark-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-Primary-light)), to(var(--color-Primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
}

::-moz-selection {
  color: var(--color-Grey-light-3);
  background: var(--color-Primary);
}

::selection {
  color: var(--color-Grey-light-3);
  background: var(--color-Primary);
}

.showcase-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 75em) {
  .showcase-heading {
    display: none;
  }
}

.decorative-heading {
  font-size: calc((100vw * 7) / 100);
  text-align: center;
  text-transform: uppercase;
  color: rgba(119, 119, 119, 0.2);
  margin-bottom: -16rem;
  z-index: -1;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    border-top: 1px solid var(--color-Grey-light-1);
    padding: 1rem 0;
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-Grey-light-2);
  border: none;
  padding: 0.7rem 4rem;
  border-radius: 100px;
  width: 90%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: -3.5rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-Grey-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-Grey-light-4);
}

.search__input:focus + .search_button {
  background-color: var(--color-Grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-Grey-light-2);
  fill: var(--color-Grey-dark-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  fill: #000;
}

.search__icon {
  height: 2rem;
  width: 2rem;
  background-color: var(--color-Grey-light-2);
}

.user-nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-Grey-light-2);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 3.25rem;
  width: 3.25rem;
  fill: var(--color-Grey-dark-2);
}

.user-nav__notification {
  font-size: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-Primary);
  color: #fff;
  position: absolute;
  top: 1.1rem;
  right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__user-photo {
  height: 5rem;
  border-radius: 50%;
  margin: 1rem 1rem 1rem auto;
}

.user-nav__user-name {
  font-weight: 600;
  font-size: 1.6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.side-nav {
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}

.side-nav__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--color-Primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.3s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.3s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: var(--color-Primary-light);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-Grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 37.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.side-nav__icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: currentColor;
  margin-right: 0.7rem;
}

@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.legal {
  font-size: 1rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-Grey-light-4);
}

.legal a:link,
.legal a:visited {
  font-size: 1.1rem;
  color: var(--color-Grey-light-3);
  text-decoration: none;
}

@media only screen and (max-width: 56.25em) {
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 56.25em) {
  .mobile {
    display: none;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.gallery__photo:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
  cursor: pointer;
  z-index: 5;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--border-bottom);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
}

@media only screen and (max-width: 31.25em) {
  .overview {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.overview__heading {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2rem 3rem;
  color: var(--color-Grey-dark-1);
}

@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.5rem;
    letter-spacing: initial;
    text-align: center;
    padding: 1rem;
  }
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 31.25em) {
  .overview__stars {
    margin: 0 1rem;
  }
}

.overview .overview__icon-star:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-Primary);
}

@media only screen and (max-width: 31.25em) {
  .overview__icon-star, .overview__icon-location {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.overview__location {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
}

.overview__icon-location {
  margin-right: 0.3rem;
}

@media only screen and (max-width: 31.25em) {
  .overview__icon-location {
    display: none;
  }
}

.overview__rating {
  background-color: var(--color-Primary);
  margin-left: 2rem;
  color: #fff;
  padding: 1rem;
  text-align: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 0.5rem;
  }
}

.overview__rating-average {
  font-size: 1.25rem;
  font-weight: 200;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 1rem;
  }
}

.overview__rating-average > #rating {
  font-size: 2.25rem;
  font-weight: 400;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-average > #rating {
    font-size: 1.7rem;
  }
}

.overview__rating-count {
  font-size: 1.25rem;
  font-weight: 200;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-size: 1rem;
  }
}

.btn-inline {
  border: none;
  color: var(--color-Primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-inline span {
  margin-left: 2px;
  -webkit-transition: margin-left 0.4s;
  transition: margin-left 0.4s;
}

.btn-inline:hover {
  color: var(--color-Grey-dark-1);
  cursor: pointer;
}

.btn-inline:hover span {
  margin-left: 10px;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.about:not(:last-child) {
  margin-bottom: 2rem;
  text-align: justify;
}

.amenities-list {
  list-style: none;
  margin: 3rem 0;
  padding: 2rem;
  border-top: var(--border-bottom);
  border-bottom: var(--border-bottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.amenities-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.7rem;
}

.amenities-list__item::before {
  content: '';
  display: inline-block;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 0.5rem;
  background-image: url(../img/icons/chevron-small-right.svg);
  background-size: cover;
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) {
  .amenities-list__item::before {
    background-color: var(--color-Primary);
    -webkit-mask-image: url(../img/icons/chevron-small-right.svg);
            mask-image: url(../img/icons/chevron-small-right.svg);
    -webkit-mask-size: cover;
            mask-size: cover;
    background-image: none;
  }
}

.recommend {
  font-size: 1.4rem;
  color: var(--color-Grey-dark-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  margin-right: auto;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  height: 5rem;
  width: 5rem;
  border: 2px solid var(--color-Grey-light-1);
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.recommend__photo:not(:last-child) {
  margin-right: -2rem;
}

.recommend__photo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.review {
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.review__photo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
}

.review__photo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.review__text {
  margin-bottom: 2rem;
  z-index: 2;
  position: relative;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  margin-right: 1rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.review__user-date {
  font-size: 1.1rem;
  color: var(--color-Grey-dark-3);
}

.review__rating {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-Primary);
}

.review::before {
  content: '\201C';
  position: absolute;
  top: -2.55rem;
  left: -0.69rem;
  font-size: 18rem;
  line-height: 1;
  font-family: sans-serif;
  color: var(--color-Grey-light-2);
  z-index: 1;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}

.cta-heading {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.btn__book {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-Primary-light)), to(var(--color-Primary-dark)));
  background-image: linear-gradient(to right, var(--color-Primary-light), var(--color-Primary-dark));
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn__book > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn__book-visible {
  padding: 2rem 7rem;
}

.btn__book-hidden {
  padding: 2rem 0;
  position: absolute;
  left: 0;
  top: -100%;
}

.btn__book:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--color-Primary-light)), to(var(--color-Primary-dark)));
  background-image: linear-gradient(to left, var(--color-Primary-light), var(--color-Primary-dark));
}

.btn__book:hover .btn__book-visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn__book:hover .btn__book-hidden {
  top: 0;
}

.btn__book:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 100%;
  background-color: #fff;
  border-bottom: var(--border-bottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 31.25em) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-Grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem 0;
  background-color: var(--color-Grey-light-1);
  border-bottom: var(--border-bottom);
}

@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
}

@media only screen and (max-width: 37.5em) {
  .description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 2rem;
  }
}

.user-reviews {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
